#noticias {
    line-height: 1.5;
    letter-spacing: 1px;
}

#noticias article {
    max-width: 800px;
    margin:1em auto;
}

#noticias article img {
    margin: 1em auto;
    width: 100%;
}

#noticias article a {
    color: #428bca;
    font-weight: bold;
}

#noticias article #page-breadcrumb {
    height: auto;
}

#noticias .listaNoticias {
    margin-bottom: 1.5em;
    min-height: 430px;
}

#noticias .listaNoticias a {
    color: black;
}

#noticias .listaNoticias img {
    width: 100%;
}

